<nz-drawer
  [nzVisible]="isActive"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="sizeModal"
  [nzClosable]="false"
  nzPlacement="right"
  [nzTitle]="title"
  [nzExtra]="extra"
  [nzFooter]="footer"
  (nzOnClose)="closeCheckChange()"
>
  <ng-container *nzDrawerContent>
    <form
      *ngIf="filter && isActive"
      class="nv-drop-disable-contract nv-style-contract-customer nv-flex nv-flex-col nv-gap-24"
      [formGroup]="createContractForm"
    >
      <div>
        <h1 class="nv-body-14-semibold nv-text-neutral-600">
          General Information
        </h1>
        <div nz-row [nzGutter]="[24, 20]" class="nv-box-contract">
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Customer
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <!-- <app-base-dropdown-contract
                  [disabled]="id ? true : false"
                  [dataItems]="filter.customer"
                  optionKey="label"
                  [showSearchInput]="true"
                  placeholder="Select"
                  formControlName="customer"
                  (onChangeValue)="selectCustomer($event)"
                >
                </app-base-dropdown-contract> -->
                <ng-container
                  *ngIf="
                    createContractForm.controls.customer as customerControl
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      errorMsg;
                      context: {
                        $implicit:
                          customerControl.dirty &&
                          customerControl.errors?.required,
                        message: 'This field is required!'
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Salesman
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <!-- <app-base-dropdown-contract
                  [dataItems]="filter.salesMan"
                  optionKey="label"
                  [showSearchInput]="true"
                  placeholder="Select"
                  formControlName="salesMan"
                  (onChangeValue)="selectSaleMan($event)"
                >
                </app-base-dropdown-contract> -->
                <ng-container
                  *ngIf="
                    createContractForm.controls.salesMan as customerControl
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      errorMsg;
                      context: {
                        $implicit:
                          customerControl.dirty &&
                          customerControl.errors?.required,
                        message: 'This field is required!'
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Contract no.
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <app-base-input
                  nvPlaceholder="Enter"
                  nvMaxLength="50"
                  formControlName="contractNumber"
                  size="ssmall"
                >
                </app-base-input>
                <ng-container
                  *ngIf="
                    createContractForm.controls
                      .contractNumber as contractNumberControl
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      errorMsg;
                      context: {
                        $implicit:
                          contractNumberControl.dirty &&
                          contractNumberControl.errors?.required,
                        message: 'This field is required!'
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Contract duration
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <app-base-date-picker-range-new
                  class="nv-invalid nv-d-inherit nv-rounded-4"
                  formControlName="validRange"
                />
                <ng-container
                  *ngIf="
                    createContractForm.controls.validRange as validRangeControl
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      errorMsg;
                      context: {
                        $implicit:
                          validRangeControl.dirty &&
                          validRangeControl.errors?.required,
                        message: 'This field is required!'
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular">
              Trial contract ID
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <app-base-input
                  nvDisabled
                  formControlName="contractNumber"
                  size="ssmall"
                  formControlName="trialContract"
                >
                </app-base-input>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <ng-container [formGroup]="creditForm">
        <div>
          <h1 class="nv-body-14-semibold nv-text-neutral-600">
            Credit Information
          </h1>
          <!-- <nz-form-item class="nv-px-10 nv-pb-8">
            <nz-form-control>
              <div class="active-toggle nv-flex nv-items-center nv-gap-8">
                <nz-switch  class="nv-base-switch" formControlName="isCredit"> </nz-switch>
                <span class="nv-body-14-semibold nv-text-neutral-600">
                  Credit Information</span
                >
              </div>
            </nz-form-control>
          </nz-form-item> -->
          <div nz-row [nzGutter]="[24, 20]">
            <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="isFullScreen ? 24 : 24">
              <div
                class="nv-box-contract"
                *ngIf="creditForm.controls.isCredit.value"
                nz-row
                [nzGutter]="[24, 20]"
              >
                <div
                  class="col-item style-borer-l-none"
                  nz-col
                  [nzXs]="24"
                  [nzMd]="12"
                  [nzLg]="isFullScreen ? 6 : 12"
                >
                  <label
                    class="nv-text-neutral-400 nv-body-12-regular nv-required"
                  >
                    Credit limit
                  </label>
                  <nz-form-item>
                    <nz-form-control nzSpan="24">
                      <div class="nv-relative">
                        <nz-input-group class="nv-base-group-markup">
                          <app-base-input
                            nvPlaceholder="Enter number"
                            [nvMaxLength]="13 | numberMaxLengthMask"
                            formControlName="creditLimited"
                            size="ssmall"
                            class="input-group"
                            nvMask="separator.0"
                          />
                          <!--
                          <app-base-dropdown-contract
                            nz-col
                            [nzXs]="22"
                            [nzSm]="22"
                            [nzMd]="23"
                            [nzLg]="11"
                            [dataItems]="filter.currencies"
                            optionKey="label"
                            [showSearchInput]="true"
                            [disabled]="true"
                            formControlName="creditCurrency"
                            class="btn-dropdown-group"
                          >
                          </app-base-dropdown-contract>-->
                        </nz-input-group> 
                      </div>
                      <ng-container
                        *ngIf="
                          creditForm.controls
                            .creditLimited as creditLimitedControl
                        "
                      >
                        <ng-container
                          *ngTemplateOutlet="
                            errorMsg;
                            context: {
                              $implicit:
                                creditLimitedControl.dirty &&
                                creditLimitedControl.errors?.required,
                              message: 'This field is required!'
                            }
                          "
                        >
                        </ng-container>
                      </ng-container>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div
                  class="col-item style-borer-l-none"
                  nz-col
                  [nzXs]="24"
                  [nzMd]="12"
                  [nzLg]="isFullScreen ? 6 : 12"
                >
                  <div>
                    <label
                      class="nv-text-neutral-400 nv-body-12-regular nv-required"
                    >
                      Credit term
                    </label>
                    <nz-form-item>
                      <nz-form-control nzSpan="24">
                        <div class="nv-relative">
                          <nz-input-group class="nv-base-group-markup">
                            <app-base-input
                              nvPlaceholder="Enter number"
                              [nvMaxLength]="3 | numberMaxLengthMask"
                              formControlName="creditTerm"
                              size="ssmall"
                              class="input-group"
                              nvMask="separator.0"
                            />
                            <!-- <app-base-dropdown-contract
                              nz-col
                              [nzXs]="22"
                              [nzSm]="22"
                              [nzMd]="23"
                              [nzLg]="11"
                              [disabled]="true"
                              [dataItems]="filter.uoM"
                              optionKey="label"
                              [showSearchInput]="true"
                              formControlName="unitTerm"
                              class="btn-dropdown-group"
                            >
                            </app-base-dropdown-contract> -->
                          </nz-input-group>
                        </div>
                        <ng-container
                          *ngIf="
                            creditForm.controls.creditTerm as creditTermControl
                          "
                        >
                          <ng-container
                            *ngTemplateOutlet="
                              errorMsg;
                              context: {
                                $implicit:
                                  creditTermControl.dirty &&
                                  creditTermControl.errors?.required,
                                message: 'This field is required!'
                              }
                            "
                          >
                          </ng-container>
                        </ng-container>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div
                  class="col-item"
                  nz-col
                  [nzXs]="24"
                  [nzMd]="12"
                  [nzLg]="isFullScreen ? 6 : 12"
                >
                  <div class="content-billing-cycle">
                    <label
                      class="nv-text-neutral-400 nv-body-12-regular nv-required"
                    >
                      Billing cycle
                    </label>

                    <ng-container formArrayName="billingCycle">
                      <div
                        class="list-cycle-control"
                        *ngIf="
                          billingCycleFormArray[
                            'controls'
                          ] as billingCycleControl
                        "
                      >
                        <nz-form-item
                          class="form-item-cycle-control"
                          *ngFor="
                            let item of billingCycleControl;
                            index as i;
                            first as isFirst
                          "
                          [formGroupName]="i"
                        >
                          <!-- <nz-form-control nzSpan="24" class="nv-relative">
                            <nz-input-group
                              nzCompact
                              class="nv-b-group nv-invalid-group"
                            >
                              <ng-container>
                                <app-base-input-number
                                  nzPlaceHolder="dd"
                                  size="ssmall"
                                  [nzMin]="1"
                                  [nzMax]="31"
                                  [nullable]="true"
                                  [nvClearable]="false"
                                  formControlName="start"
                                  class="nv-b-none nv-input-number-billing"
                                />
                              </ng-container>
                              <span class="spin-group-input">-</span>
                              <ng-container>
                                <app-base-input-number
                                  size="ssmall"
                                  nzPlaceHolder="dd"
                                  formControlName="end"
                                  [nzMin]="1"
                                  [nzMax]="31"
                                  [nullable]="true"
                                  [nvClearable]="false"
                                  class="nv-b-none nv-input-number-billing"
                                />
                              </ng-container>
                              <span class="icon-calendar-group">
                                <app-icon-calendar
                                  class="nv-flex nv-items-center nv-text-neutral-300"
                                />
                              </span>
                            </nz-input-group>

                            <ng-container
                              class="nv-flex nv-justify-space-between"
                            >
                              <ng-container
                                *ngIf="
                                  billingCycleFormArray['controls'][i][
                                    'controls'
                                  ].start as startControl
                                "
                              >
                                <ng-container
                                  *ngIf="
                                    billingCycleFormArray['controls'][i][
                                      'controls'
                                    ].end as endControl
                                  "
                                >
                                  <ng-container
                                    *ngTemplateOutlet="
                                      errorMsg;
                                      context: {
                                        $implicit:
                                          (startControl.dirty ||
                                            endControl.dirty) &&
                                          (startControl.errors?.required ||
                                            endControl.errors?.required),
                                        message: 'This field is required!'
                                      }
                                    "
                                  >
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                            <div
                              *ngIf="isFirst"
                              (click)="addNewBillingNew()"
                              class="nv-flex nv-items-center nv-gap-4 nv-pointer nv-action-billing nv-action-billing--add"
                            >
                              <span
                                class="{{
                                  billingCycleFormArray.length === 4
                                    ? 'nv-text-neutral-300 nv-not-allowed'
                                    : ''
                                }}"
                                class="nv-body-12-semibold nv-text-primary-400"
                              >
                                Add new
                              </span>
                              <app-icon-plus
                                class="{{
                                  billingCycleFormArray.length === 4
                                    ? 'nv-text-neutral-300 nv-not-allowed nv-icon-plus-circle--disable'
                                    : 'nv-icon-plus-circle'
                                }}"
                                class="nv-d-inherit nv-text-primary-400 nv-icon-plus-circle"
                              />
                            </div>
                            <app-icon-close-circle
                              *ngIf="!isFirst"
                              class="{{
                                isFirst
                                  ? 'nv-text-neutral-200 nv-not-allowed nv-opacity-0'
                                  : 'nv-text-neutral-400'
                              }}"
                              (click)="removeBilling(i)"
                              class="nv-pointer nv-d-inherit nv-action-billing nv-action-billing--remove"
                            />
                          </nz-form-control>
                          <ng-container
                            *ngIf="
                              billingCycleFormArray[
                                'controls'
                              ] as billingCycleControl
                            "
                          >
                          </ng-container> -->
                        </nz-form-item>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div>
        <h1 class="nv-body-14-semibold nv-text-neutral-600">
          Currency Exchange
        </h1>
        <div class="wrapper-checkbox nv-box-contract">
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group
                formControlName="exchangeRatesType"
                class="nv-flex nv-items-center nv-gap-16 nv-pl-12"
              >
                <div class="nv-flex nv-items-center">
                  <label
                    class="nv-body-12-semibold nv-text-neutral-500"
                    nz-radio
                    nzValue="Fix"
                    >Fix
                  </label>
                  <div
                    formGroupName="exchangeRates"
                    class="box-currency nv-flex nv-items-center nv-gap-8"
                    *ngIf="
                      createContractForm.controls.exchangeRatesType.value ==
                      'Fix'
                    "
                  >
                    <!-- <app-icon-currency-contract class="nv-d-inherit" /> -->
                    <span class="nv-body-12-regular nv-text-neutral-400"
                      >ERT:</span
                    >
                    <div class="nv-box-usd">
                      <span class="nv-body-12-regular nv-text-neutral-600">
                        1 USD</span
                      >
                    </div>
                    <span class="nv-body-12-regular nv-text-neutral-400">
                      =
                    </span>

                    <nz-form-control>
                      <app-base-input
                        nvPlaceholder="Enter number"
                        [nvMaxLength]="13 | numberMaxLengthMask"
                        formControlName="currentRate"
                        size="ssmall"
                        class="input-vnd"
                        nvMask="separator.0 "
                      />
                    </nz-form-control>

                    <span class="nv-body-12-regular nv-text-neutral-600">
                      VND
                    </span>
                  </div>
                </div>

                <div class="nv-flex nv-items-center">
                  <label
                    class="nv-body-12-semibold nv-text-neutral-500"
                    nz-radio
                    nzValue="Quotation"
                  >
                    Quotation
                  </label>
                </div>
                <div class="nv-flex nv-items-center">
                  <label
                    class="nv-body-12-semibold nv-text-neutral-500"
                    nz-radio
                    nzValue="BillingDate"
                  >
                    Billing date
                  </label>
                </div>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div>
        <div class="nv-flex nv-items-center nv-justify-space-between">
          <div>
            <h1 class="nv-body-14-semibold nv-text-neutral-600 nv-required">
              File Management
            </h1>
          </div>
          <!-- <div
            (click)="modalUploadFile.show()"
            class="nv-flex nv-items-center nv-gap-8 nv-pointer"
          >
            <span class="nv-body-12-semibold nv-text-primary-400"
              >Upload File</span
            >
            <app-icon-upload
              class="nv-d-inherit nv-text-primary-400 nv-icon-upload"
            />
          </div> -->
        </div>

        <!-- <app-table-file-management
          (onChangeTableFile)="resetDataFile($event)"
          [isEdit]="true"
          [data]="listFile"
          #tableFileManagement
        /> -->
      </div>
    </form>
  </ng-container>
  <ng-template #title>
    <span class="nv-body-16-semibold nv-text-neutral-600">
      {{ id ? "Edit" : "Create" }} Contract
    </span>
  </ng-template>
  <ng-template #extra>
    <div class="nv-flex nv-gap-16">
      <div class="icon-header nv-border-radius-4" (click)="fullscreenToggle()">
        <app-icon-fullscreen
          *ngIf="!isFullScreen"
          class="nv-flex nv-text-neutral-300 nv-pointer"
        >
        </app-icon-fullscreen>
        <app-icon-fullscreen-exit
          *ngIf="isFullScreen"
          class="nv-flex nv-text-neutral-300 nv-pointer"
        >
        </app-icon-fullscreen-exit>
      </div>
      <div class="icon-header nv-border-radius-4" (click)="closeCheckChange()">
        <app-icon-close class="nv-flex nv-text-neutral-300 nv-pointer">
        </app-icon-close>
      </div>
    </div>
  </ng-template>
</nz-drawer>

<ng-template #errorMsg let-condition let-message="message">
  <p class="nv-input-errors nv-flex nv-items-center nv-gap-4" *ngIf="condition">
    <span class="error-icon"></span>

    {{ message }}
  </p>
</ng-template>

<ng-template #footer>
  <div class="nv-flex nv-justify-end nv-gap-8">
    <app-base-button
      (click)="closeCheckChange()"
      className="base-button--text nv-px-12 nv-py-8"
    >
      Cancel
    </app-base-button>
    <app-base-button
      className="base-button--primary base-button--text nv-px-12 nv-py-8"
      (click)="onSave()"
      [nzLoading]="loading$ | async"
      [disabled]="loading$ | async"
    >
      Save
      <app-icon-save class="nv-d-inherit" />
    </app-base-button>
  </div>
</ng-template>
<!-- <app-modal-upload-file
  [listFileTable]="listFile"
  [typeOfDocument]="filter?.typeOfDocument"
  #modalUploadFile
  (onAddFileFinished)="addFileOnTable($event)"
/> -->
