<div class="page-wrapper">
    <div class="nv-flex nv-justify-space-between nv-gap-8">
      <!-- <span class="nv-subtitle-semibold nv-text-neutral-600">Contract List</span> -->
      <app-base-dropdown-pinned
        [isShowPinned]="true"
        [activateDefault]="itemActivateFilter$ | async"
        [pinnedDefault]="pinnedFilter$ | async"
        [listOptions]="listOptionsFilterPinned"
        (onChangeItemActivate)="setItemActivateFilter($event)"
        (onChangeItemPinned)="setPinnedFilter($event)"
      >
      </app-base-dropdown-pinned>
      <app-base-button       
        className="base-button--primary base-button--space base-button--text"
        class="action-icon-create"
        (click)="showUploadModal()"
      >
        <span class="nv-body-14-semibold nv-text-white-100">Create Annex</span>
  
        <app-icon-plus class="nv-d-inherit" />
      </app-base-button>
    </div>
    <div class="nv-pt-16" id="js-dynamic-table-height">
      <app-base-table
        nzShowSizeChanger
        [isFiltering]="!!filterData.length"
        [nvNavConfig]="nvNavConfig"
        [nvSelections]="nvSelections"
        [nzColumns]="dataItemCells$ | async"
        [nzLoading]="loading$ | async"
        [nzData]="dataItems$ | async"
        [nzTotal]="totalItem$ | async"
        [nzPageIndex]="pageIndex$ | async"
        [nzPageSize]="pageSize$ | async"
        [nzFrontPagination]="false"
        [nzBodyRender]="customDataTemplate"
        [nzScroll]="{ y: (tableHeight || 0) + 'px' }"
        (nzPageIndexChange)="changePageIndex($event)"
        (nzPageSizeChange)="changePageSize($event)"
        (nzSortOrderChange)="onSortOrderChange($event)"
        (nvFiltersChange)="onFilter($event)"
        (onCellFilterReset)="onCellFilterReset($event)"
      >
      </app-base-table>
    </div>
  </div>
  
  <ng-template
    #customDataTemplate
    let-dataRow
    let-cellKey="cellKey"
    let-cellFormater="cellFormater"
  >
    <ng-container *ngIf="cellFormater.templateID">
      <span (click)="gotoDetail(dataRow[cellKey])"> {{dataRow[cellKey]}}</span>
    </ng-container>
    <ng-container *ngIf="cellFormater.templateLinkToContract">
      <span (click)="gotoContract(dataRow[cellKey])"> {{dataRow[cellKey]}}</span>
    </ng-container>
  
    <ng-container *ngIf="cellFormater.templateCreditLimited">
      {{dataRow.creditLimited|number}} {{dataRow.creditCurrency}}
    </ng-container>
    <ng-container *ngIf="cellFormater.templateCreditTerm">
      {{dataRow.creditTerm|number}} {{dataRow.unitTerm}}
    </ng-container>
    <ng-container *ngIf="cellFormater.templateContractDuration">
      {{ dataRow.validFrom|date:"dd/MM/yyyy" }} - {{
      dataRow.validTo|date:"dd/MM/yyyy" }}
    </ng-container>
    <ng-container *ngIf="cellFormater.templateCreatedDate">
      {{dataRow[cellKey]|date:"dd/MM/yyyy"}}
    </ng-container>
    <ng-container *ngIf="cellFormater.templateStatus">
      <app-status-label [data]="dataRow[cellKey]" />
    </ng-container>
    <ng-container *ngIf="cellFormater.templateTextLongDotThree">
      <span
        nv-ellipsis
        [nvEllipsisContent]="dataRow[cellKey]"
        [nvEllipsisClaim]="1"
        [nvEllipsisGap]="0"
      >
        {{dataRow[cellKey]}}
      </span>
    </ng-container>
    <ng-container *ngIf="cellFormater.templateAnnexDuration">
      {{ dataRow["validFrom"] | date: "dd/MM/yyyy" }} - {{ dataRow["validTo"] |
      date: "dd/MM/yyyy" }}
    </ng-container>
  
    <ng-container *ngIf="cellFormater.annexTypeTemplate">
      <div class="nv-flex nv-gap-4 nv-items-center">
        <span
          nv-ellipsis
          [nvEllipsisContent]="dataRow[cellKey]"
          [nvEllipsisClaim]="1"
          [class.nv-w-100]="dataRow[cellKey]!=='Extend contract duration'"
        >
          {{dataRow[cellKey]}}</span
        >
  
        <img
          *ngIf="dataRow['scopesOfWork']"
          [src]="ICON_SCOPE[dataRow['scopesOfWork'][0].toUpperCase()]"
          alt=""
          srcset=""
          nv-ellipsis
          [nvEllipsisContent]="contractScopesOfWorkNameByCode[dataRow['scopesOfWork'][0].toUpperCase()]"
          [nvEllipsisClaim]="1"
        />
      </div>
    </ng-container>
  </ng-template>
  
  <!-- <app-modal-create-edit-annex (handelSubmit)="refresh()" #modalCreateAnnex /> -->
  